<div *ngIf="dades">
  <div class="container">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="dades.jugador1 || jugador != '-' "
      (click)="iniciarJugador(1)"
    >
      Jugador 1
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="dades.jugador2 || jugador != '-'"
      (click)="iniciarJugador(2)"
    >
      Jugador 2
    </button>
    <button type="button" class="btn btn-primary" (click)="reset()">
      RESET
    </button>
  </div>

  <div class="container">
    <button
      type="button"
      *ngFor="let e of dades.fila0; let i = index"
      (click)="tirada(0, i)"
    >
    <h1> {{ e }}</h1>
    </button>
    <br />
    <button
      type="button"
      *ngFor="let e of dades.fila1; let i = index"
      (click)="tirada(1, i)"
    >
    <h1> {{ e }}</h1>
    </button>
    <br />
    <button
      type="button"
      *ngFor="let e of dades.fila2; let i = index"
      (click)="tirada(2, i)"
    >
    <h1> {{ e }}</h1>
    </button>
  </div>
</div>

<router-outlet></router-outlet>
